@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
  background-image: url("https://cdn.pixabay.com/photo/2017/11/27/21/31/computer-2982270_1280.jpg");
  background-position: center;
  background-size: cover;
}

.bg-cta {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/23/13/40/iphone-1852901_1280.jpg");
  background-position: center;
  background-size: cover;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
